.pane {
    -fx-background-color: linear-gradient(to bottom right,#2e160f, #492906);
}
.button {
    -fx-text-fill: #e6e5e8;
    -fx-background-color: #907b64;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
}

.button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #e6e5e8;
    -fx-background-color: #ce9254;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: rgb(230, 229, 232);
    -fx-prompt-text-fill: rgba(230, 229, 232, 0.34);
}
